<% include ../../partials/head %>

<% include ../../partials/menu %>

<div class="container py-5 mb-5">

  <div class="row">
    <div class="col-md-4">
      <% include ../left-menu %>
    </div>

    <div class="col-md-8">


      <h2><i class="fas fa-window-close"></i> Annulation</h2>

      <% if(locals.data) { %>
      <form action="/reservations/cancel" method="POST" id="form-annuler">

        <div class="row">
            <div class="col-md-6">
              <!-- User name -->
              <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" 
                name="nom" 
                value="<%= data.nom_complet %>"
                  required readonly>
              </div>
  
            </div>
  
            <div class="col-md-6">
              <!-- User email -->
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" 
                name="email" value="<%= data.email %>"
                  required readonly>
              </div>
            </div>
          </div>




        <div class="row">
          <div class="col-md-6">
            <!-- Date de depart -->
            <div class="form-group">
              <label for="date-depart">Date de depart</label>
              <input type="date" class="form-control" id="date-depart" 
              name="dateDepart" placeholder="Enter date depart"
              value="<%= data.date_depart %>"
                required readonly>
            </div>

          </div>

          <div class="col-md-6">
            <!-- Date de retour -->
            <div class="form-group">
              <label for="date-retour">Date de retour</label>
              <input type="date" class="form-control" id="date-retour" 
              name="dateRetour" value="<%= data.date_retour %>"
                required readonly>
            </div>
          </div>
        </div>



        <!-- Boss order -->
        <div class="form-group">
          <label for="boss-order">Boss order</label>
          <input type="number" class="form-control" id="boss-order" 
          name="bossOrder" value="<%= data.boss_order %>"
            required readonly>
        </div>

        <!-- Description de mission -->
        <div class="form-group">
          <label for="desc-mission">Description de mission</label>
          <textarea class="form-control" id="desc-mission" 
          name="descMission" rows="3" 
          required readonly><%= data.desc_mission %></textarea>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="vehicule">Vehicule</label>
              <input type="text" class="form-control" id="vehicule" 
              value="<%= data.marque %>" readonly required>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="numSerie">Num serie</label>
              <input type="text" class="form-control" id="numSerie" 
              value="<%= data.num_serie %>" name="numSerie"
                readonly required>
            </div>
          </div>

        </div>


        <button type="submit" class="btn btn-danger">
          <i class="fas fa-window-close"></i> Annuler
        </button>        

      </form>
      <% } %>

      

      <% if(locals.msg) { %>
      <div class="alert alert-primary mt-3" role="alert">
        <%= msg %>
      </div>
      <% } %>

    </div>


  </div>

</div>

<% include ../../partials/footer %>