<% include ../../layouts/head %>

<body>

  <div class="wrapper">

    <% include ../../layouts/top-menu %>

    <!-- Page Content Holder -->
    <div id="content">

      <% include ../../layouts/left-menu %>

      <div class="container py-5">


        <h2><i class="fas fa-history"></i> historique
          <span class="badge badge-primary"><%= data.length %></span>
        </h2>

        <% if((locals.data && locals.data.length > 0) && locals.Etat) { 
                data = locals.data.reverse()
                let i = 1;
              %>

        <% for(let v of data){     %>
        <div class="list-group mb-3" id="list-group">

          <div class="row">

            <div class="col-md-5">
              <h5 class="mb-1"><%= v.nom_complet %></h5>
              <p class="m-0 p-0">Email : <%= v.email %></p>
              <p class="m-0 p-0">Division : <%= v.division %></p>
            </div>

            <div class="col-md-5">
              <h5 class="mb-1"><%= v.marque %></h5>
              <p class="m-0 p-0">Num serie : <%= v.num_serie %></p>
              <p class="m-0 p-0">Date depart : <%= locals.formatDate(v.date_depart) %></p>
              <p class="m-0 p-0">Date retour : <%= locals.formatDate(v.date_retour) %></p>
            </div>


            <div class="col-md-2 mb-2">
              <% if(locals.Etat.enAttente === v.etat){ %>
              <span class="badge badge-warning"><%= v.etat %></span>
              <% } else { %>
              <span class="badge badge-success"><%= v.etat %></span>
              <% } %>
            </div>

          </div>


        </div>
        <% } %>


        <% } else { %>
        <div class="alert alert-info" role="alert">
          aucune information n'a été trouvée
        </div>
        <% } %>


      </div>

    </div>
    <!--/content-->
  </div>
  <!--/wrapper-->

  <% include ../../layouts/footer %>