<% include ../../partials/head %>

<% include ../../partials/menu %>

<div class="container mt-5 mb-3">

  <div class="row">
    <div class="col-md-4">
      <% include ../left-menu %>
    </div>

    <div class="col-md-8">

      <% if(locals.data && locals.Etat) { 
        data = locals.data.reverse()
        let i = 1;
      %>

      <h2><i class="fas fa-list"></i> Liste des demandes
        <span class="badge badge-primary"><%= data.length %>
        </span>
      </h2>


      <% for(let v of data){     %>
      <div class="list-group mb-3" id="list-group">


        <div class="row">

          <div class="col-md-4">
            <h5 class="mb-1"><%= v.nom_complet %></h5>
            <p>Email : <%= v.email %></p>
            <p>Division : <%= v.division %></p>
          </div>

          <div class="col-md-4">
            <h5 class="mb-1"><%= v.model %></h5>
            <p>Num serie : <%= v.num_serie %></p>
            <p>Date depart : <%= locals.formatDate(v.date_depart) %></p>
            <p>Date retour : <%= locals.formatDate(v.date_retour) %></p>
          </div>


          <div class="col-md-2 mb-2">
            <% if(locals.Etat.enAttente ){ %>
            <span class="badge badge-warning"><%= v.etat %></span>
            <% } else { %>
            <span class="badge badge-success"><%= v.etat %></span>
            <% } %>
          </div>

          <div class="col-md-2">
            <a href="/reservations/confirm?v=<%= v.vehicule_id %>&u=<%= v.user_id %>" 
              class="btn btn-success">
              <i class="fas fa-check"></i>
            </a>

            <a href="/reservations/cancel?v=<%= v.vehicule_id %>&u=<%= v.user_id %>" 
              class="btn btn-danger">
              <i class="fas fa-window-close"></i>
            </a>
          </div>



        </div>


      </div><% } %>

    </div>
    <% } %>

  </div>

</div>

<% include ../../partials/footer %>