<% include ../../partials/head %>

<% include ../../partials/menu %>

<div class="container mt-5 mb-3">

  <div class="row">
    <div class="col-md-4">
      <% include ../left-menu %>
    </div>

    <div class="col-md-8">

      <% if(locals.data) { data = data.reverse() %>

      <h2>Liste des reservations
        <span class="badge badge-primary"><%= data.length %>
        </span>
      </h2>

      <table class="table table-hover table-light">
        <thead>
          <tr>
            <th scope="col">Utilisateur</th>           
            <th scope="col">Num serie</th>
            <th scope="col">Model</th>
            <th scope="col">Date de depart</th>
            <th scope="col">Date de retour</th>
            <th scope="col">Etat</th>
          </tr>
        </thead>
        <tbody>


          <% for(let reservation of data) { %>
          <tr>
            <td><%= reservation.nom_complet %></td>
            <td><%= reservation.num_serie %></td>
            <td><%= reservation.model %></td>
            <td><%= locals.formatDate(reservation.date_depart) %> </td>
            <td><%= locals.formatDate(reservation.date_retour) %></td>
            <td><span class="badge badge-warning"><%= reservation.etat %></span></td>

          </tr>
          <% } %>

        </tbody>
      </table>

    </div>
    <% } %>

  </div>

</div>

<% include ../../partials/footer %>