<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="<%= staticFiles.fontawesome %>">
</head>

<body>

  <style>
    body {
      font-size: .875rem;
    }

    .feather {
      width: 16px;
      height: 16px;
      vertical-align: text-bottom;
    }

    /*
   * Sidebar
   */

    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      /* Behind the navbar */
      padding: 0;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
      /* Height of navbar */
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto;
      /* Scrollable contents if viewport is shorter than content. */
    }

    .sidebar .nav-link {
      font-weight: 500;
      color: #333;
    }

    .sidebar .nav-link .feather {
      margin-right: 4px;
      color: #999;
    }

    .sidebar .nav-link.active {
      color: #007bff;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
      color: inherit;
    }

    .sidebar-heading {
      font-size: .75rem;
      text-transform: uppercase;
    }

    /*
   * Navbar
   */

    .navbar-brand {
      padding-top: .75rem;
      padding-bottom: .75rem;
      font-size: 1rem;
      background-color: rgba(0, 0, 0, .25);
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    }

    .navbar .form-control {
      padding: .75rem 1rem;
      border-width: 0;
      border-radius: 0;
    }

    .form-control-dark {
      color: #fff;
      background-color: rgba(255, 255, 255, .1);
      border-color: rgba(255, 255, 255, .1);
    }

    .form-control-dark:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }

    /*
   * Utilities
   */

    .border-top {
      border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
      border-bottom: 1px solid #e5e5e5;
    }
  </style>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">

            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="fas fa-home"></i> Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>


            <li class="nav-item">
              <% if(locals.userInfo && locals.routesStruct) { 
                    if(userInfo.role === role.admin) {    
                  %>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle user">
                <i class="fas fa-users"></i> Utilisateurs
              </a>
              <ul class="nav-link collapse list-unstyled" id="pageSubmenu">
                <li>
                  <a href="<%= routesStruct.users.add %>"><i class="fas fa-plus"></i> Ajout Utilisateur</a>
                </li>
                <li>
                  <a href="<%= routesStruct.users.list %>"><i class="fas fa-list"></i> Liste des Utilisateurs</a>
                </li>

              </ul>
              <% } }%>
            </li>


            <% if(locals.userInfo && locals.routesStruct) { 
                  if(userInfo.role === role.admin) {    
                %>
            <li class="nav-item">
              <a href="#vsubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle vehi">
                <i class="fas fa-car"></i> Véhicules
              </a>
              <ul class="collapse list-unstyled" id="vsubmenu">
                <li>
                  <a class="nav-link" href="<%= routesStruct.vehicules.add %>"><i class="fas fa-plus"></i> Ajout véhicule</a>
                </li>
                <li>
                  <a class="nav-link" href="<%= routesStruct.vehicules.list %>"><i class="fas fa-list"></i> Liste des véhicules</a>
                </li>
              </ul>
            </li>
            <% } }%>


            <% if(locals.userInfo && locals.routesStruct) { 
                  if(userInfo.role === role.admin) {    
                %>
            <li class="nav-item">
              <a href="#" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle resv">
                <i class="fas fa-calendar-check"></i> Reservations
              </a>
              <ul class="collapse list-unstyled" id="rsubmenu">

                <li>
                  <a class="nav-link" href="<%= routesStruct.reservations.list %>">
                    <i class="fas fa-list"></i> Liste des demandes
                  </a>
                </li>
                <li>
                  <a class="nav-link" href="<%= routesStruct.reservations.history %>">
                    <i class="fab fa-algolia"></i> history
                  </a>
                </li>
              </ul>
            </li>
            <% } } %>


            <% if(locals.userInfo && locals.routesStruct) { 
                  if(userInfo.role !== role.admin) {    
                %>
            <li class="nav-item">
              <a href="#" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle res">
                <i class="fas fa-calendar-check"></i> Reservations
              </a>
              <ul class="collapse list-unstyled" id="rrsubmenu">

                <li>
                  <a class="nav-link" href="<%= routesStruct.reservations.listvehicule %>">
                    <i class="fas fa-list"></i> Liste de véhicules
                  </a>
                </li>
                <li>
                  <a class="nav-link" href="<%= routesStruct.reservations.listreserved %>">
                    <i class="fas fa-list"></i> Liste des reservations
                  </a>
                </li>

              </ul>
            </li>
            <% } } %>

          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-plus-circle">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="16"></line>
                <line x1="8" y1="12" x2="16" y2="12"></line>
              </svg>
            </a>
          </h6>


        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="chartjs-size-monitor"
          style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
          <div class="chartjs-size-monitor-expand"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div class="chartjs-size-monitor-shrink"
            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Share</button>
              <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-calendar">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
              </svg>
              This week
            </button>
          </div>
        </div>

        <canvas class="my-4 chartjs-render-monitor" id="myChart" width="1078" height="455"
          style="display: block; width: 1078px; height: 455px;"></canvas>



      </main>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



</body>

</html>