

<footer class="pt-5 pb-3 text-muted text-center text-small">
    <p class="mb-1">
        COPYRIGHT &copy; 2019 | <i class="fas fa-calendar-alt"></i> <%= locals.formatDate((new Date().toISOString()).slice(0, 10)) %>
    </p>

    <ul class="list-inline">
        <li class="list-inline-item"><a href="<%= routesStruct.index %>">ACCEUIL</a></li>
        <li class="list-inline-item"><a href="<%= routesStruct.users.profile %>">PROFILE</a></li>
        <li class="list-inline-item"><a href="<%= routesStruct.auth.logout %>">DECONNEXION</a></li>
    </ul>
</footer>

<% if(locals.staticFiles) { %>
<script src="<%= staticFiles.js.custom %>"></script>
<script src="<%= staticFiles.js.validator %>"></script>
<script src="<%= staticFiles.js.fetch %>"></script>
<script src="<%= staticFiles.js.formAlert %>"></script>
<script src="<%= staticFiles.js.theme %>"></script>
<% } %>


</body>

</html>