<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
  <a class="navbar-brand" href="/">
    <img src="/img/logooo.png" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">


    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" id="top-item" href="<%= routesStruct.index.acceuil %>">
          <i class="fas fa-home"></i> acceuil</a>
      </li>

      <% if(locals.userInfo && locals.routesStruct) { 
          if(userInfo.role === role.admin) {    
      %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Utilisateurs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= routesStruct.users.add %>">Ajout</a>
          <a class="dropdown-item" href="<%= routesStruct.users.list %>">Liste des Utilisateurs</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Véhicules
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= routesStruct.vehicules.add %>">Ajout</a>
          <a class="dropdown-item" href="<%= routesStruct.vehicules.list %>">Liste de véhicules</a>
        </div>
      </li>


      <% } }%>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Reservations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <% if(locals.userInfo && locals.routesStruct) { 
              if(userInfo.role === role.admin) {    
          %>
          <a class="dropdown-item" href="<%= routesStruct.reservations.list %>">Liste des demandes</a>
          <a class="dropdown-item" href="<%= routesStruct.reservations.history %>">Historique</a>
          <% } else { %>

          <a class="dropdown-item" href="<%= routesStruct.reservations.listvehicule %>">Liste de véhicules</a>
          <a class="dropdown-item" href="<%= routesStruct.reservations.listreserved %>">Liste des reservations</a>
          <% } } %>
        </div>
      </li>



    </ul>


    <ul class="navbar-nav ml-auto">


      <% if(locals.userInfo && locals.routesStruct) { %>

      <li class="nav-item">
        <a class="nav-link" href="/notifications" style="font-size: 15px;">
          <i class="fas fa-bell"></i>
        </a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">

          <% if(locals.avatar && locals.staticFiles) { %>
          <img src="<%= locals.avatar %>" alt="" id="img-profile">
          <%  } %>
          <%= userInfo.nom_complet %>
        </a>


        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">

          <a class="dropdown-item" href="<%= routesStruct.users.profile %>">
            <i class="fas fa-address-card"></i> Profile
          </a>

          <button class="dropdown-item" id="btn-theme">Theme sombre</button>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="<%= routesStruct.auth.logout %>">
            <i class="fas fa-sign-out-alt"></i> DECONNEXION
          </a>

        </div>
      </li>

      <% } %>


    </ul>



  </div>
</nav>
<!--/.Navbar -->