<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color">
  <a class="navbar-brand" href="<%= routesStruct.index %>">
    <img src="/img/logooo.png" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">


    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="<%= routesStruct.index.acceuil %>">
            <i class="fas fa-home"></i> acceuil</a>
      </li>

      <% if(locals.userInfo && locals.routesStruct) { 
          if(userInfo.role === role.admin) {    
      %>
      <li class="nav-item">
        <a class="nav-link" href="<%= routesStruct.users.index %>">
          Utilisateur</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="<%= routesStruct.vehicules.index %>">
          Véhicules</a>
      </li>

      <% } }%>
      <li class="nav-item">
        <a class="nav-link" href="<%= routesStruct.reservations.index %>">
          Reservations</a>
      </li>

    </ul>


    <ul class="navbar-nav ml-auto">


      <% if(locals.userInfo && locals.routesStruct) { %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" 
        data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">

          <% if(locals.avatar && locals.staticFiles) { %>
          <img src="<%= locals.avatar %>" alt="" id="img-profile">
          <%  } %>
          <%= userInfo.nom_complet %>
        </a>


        <div class="dropdown-menu dropdown-menu-right dropdown-info" 
        aria-labelledby="navbarDropdownMenuLink-4">

          <a class="dropdown-item" href="<%= routesStruct.users.profile %>">Profile</a>
          <button class="dropdown-item" id="btn-theme">Theme sombre</button>
          <a class="dropdown-item" href="<%= routesStruct.auth.logout %>">DECONNEXION</a>

        </div>
      </li>
      <% } %>


    </ul>



  </div>
</nav>
<!--/.Navbar -->