

<% if(locals.staticFiles) { %>
<script src="<%= staticFiles.js.api %>"></script>
<script src="<%= staticFiles.js.custom %>"></script>
<script src="<%= staticFiles.js.validator %>"></script>
<script src="<%= staticFiles.js.fetch %>"></script>
<script src="<%= staticFiles.js.formAlert %>"></script>
<script src="<%= staticFiles.js.pagination %>"></script>
<% } %>



</body>

</html>