<!-- Sidebar Holder -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Boudjbel Vacpa</h3>
  </div>

  <ul class="list-unstyled components">

    <li>
      <a href="/"><i class="fas fa-home"></i> Acceuil</a>
      <% if(locals.userInfo && locals.routesStruct) { 
        if(userInfo.role === role.admin) {    
      %>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-users"></i> Utilisateurs
      </a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="<%= routesStruct.users.add %>"><i class="fas fa-plus"></i> Ajout Utilisateur</a>
        </li>
        <li>
          <a href="<%= routesStruct.users.list %>"><i class="fas fa-list"></i> Liste des Utilisateurs</a>
        </li>

      </ul>
      <% } }%>
    </li>


    <% if(locals.userInfo && locals.routesStruct) { 
      if(userInfo.role === role.admin) {    
    %>
    <li>
      <a href="#vsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-car"></i> Véhicules
      </a>
      <ul class="collapse list-unstyled" id="vsubmenu">
        <li>
          <a href="<%= routesStruct.vehicules.add %>"><i class="fas fa-plus"></i> Ajout véhicule</a>
        </li>
        <li>
          <a href="<%= routesStruct.vehicules.list %>"><i class="fas fa-list"></i> Liste des véhicules</a>
        </li>
      </ul>
    </li>
    <% } }%>

    <li>
      <a href="#rsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-calendar-check"></i> Reservations
      </a>
      <ul class="collapse list-unstyled" id="rsubmenu">
        <% if(locals.userInfo && locals.routesStruct) { 
            if(userInfo.role === role.admin) {    
        %>
        <li>
          <a href="<%= routesStruct.reservations.list %>">
            <i class="fas fa-list"></i> Liste des demandes
          </a>
        </li>
        <li>
          <a href="<%= routesStruct.reservations.history %>">
            <i class="fab fa-algolia"></i> history
          </a>
        </li>
        <% } else { %>
        <li>
          <a href="<%= routesStruct.reservations.listvehicule %>">
            <i class="fas fa-list"></i> Liste de véhicules
          </a>
        </li>
        <li>
          <a href="<%= routesStruct.reservations.listreserved %>">
            <i class="fas fa-list"></i> Liste des reservations
          </a>
        </li>
        <% } } %>
      </ul>
    </li>

  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <a href="#" class="download">
        <i class="fas fa-calendar-alt"></i> Le <%= locals.formatDate((new Date().toISOString()).slice(0, 10)) %>
      </a>
    </li>
    <li>
      <a href="<%= routesStruct.auth.logout %>" class="article">DECONNEXION</a>
    </li>
  </ul>
</nav>