<!-- Sidebar Holder -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Gestion des reservations</h3>
  </div>

  <ul class="list-unstyled components">

    <% if(locals.avatar && locals.staticFiles) { %>
    <div class="d-flex justify-content-center mb-2">
      <img src="<%= locals.avatar %>" 
      alt="" id="img-profile" width="150" height="150" style="border-radius: 50%">
    </div>
    <%  } %>
    

    <li>
      <a href="/">Acceuil</a>
      <% if(locals.userInfo && locals.routesStruct) { 
        if(userInfo.role === role.admin) {    
      %>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Utilisateurs</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href="<%= routesStruct.users.add %>">Ajout Utilisateur</a>
        </li>
        <li>
          <a href="<%= routesStruct.users.list %>">Liste des Utilisateurs</a>
        </li>

      </ul>
      <% } }%>
    </li>


    <% if(locals.userInfo && locals.routesStruct) { 
      if(userInfo.role === role.admin) {    
    %>
    <li>
      <a href="#vsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Véhicules</a>
      <ul class="collapse list-unstyled" id="vsubmenu">
        <li>
          <a href="<%= routesStruct.vehicules.add %>">Ajout</a>
        </li>
        <li>
          <a href="<%= routesStruct.vehicules.list %>">Liste</a>
        </li>
      </ul>
    </li>
    <% } }%>

    <li>
      <a href="#rsubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reservations</a>
      <ul class="collapse list-unstyled" id="rsubmenu">
        <% if(locals.userInfo && locals.routesStruct) { 
            if(userInfo.role === role.admin) {    
        %>
        <li>
          <a href="<%= routesStruct.reservations.list %>">
            <i class="fas fa-list"></i> Liste des demandes
          </a>
        </li>
        <li>
          <a href="<%= routesStruct.reservations.history %>">
            <i class="fab fa-algolia"></i> history
          </a>
        </li>
        <% } else { %>
        <li>
          <a href="<%= routesStruct.reservations.listvehicule %>">
            <i class="fas fa-list"></i> Liste de véhicules
          </a>
        </li>
        <li>
          <a href="<%= routesStruct.reservations.listreserved %>">
            <i class="fas fa-list"></i> Liste des reservations
          </a>
        </li>
        <% } } %>
      </ul>
    </li>

  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <a href="#" class="download">
        <i class="fas fa-calendar-alt"></i> Le <%= locals.formatDate((new Date().toISOString()).slice(0, 10)) %>
      </a>
    </li>
    <li>
      <a href="<%= routesStruct.auth.logout %>" class="article">DECONNEXION</a>
    </li>
  </ul>
</nav>