<% include ../layouts/head %>

<body>

  <div class="wrapper">

    <% include ../layouts/top-menu %>

    <!-- Page Content Holder -->
    <div id="content">

      <% include ../layouts/left-menu %>

      <div class="container">

        <h2><i class="fas fa-plus"></i> Ajout d'un utilisateur</h2>
        <form action="/users/add" method="POST" onsubmit="return handleForm(this)" name="adduser">

          <div class="form-group">
            <label for="nom">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Enter nom complet" required>
          </div>

          <div class="form-group">
            <label for="email">Adresse Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Entrer email" required>
          </div>


          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Entrer mot de passe"
              required>
          </div>

          <div class="row">
            <div class="col-md-6">
              <% if(locals.division) { %>
              <div class="form-group">
                <label for="division">Choisir un division</label>
                <select class="form-control" id="division" name="division">
                  <% for(let d in division) {%>
                  <option value="<%= division[d] %>"><%= division[d] %></option>
                  <% } %>
                </select>
              </div>
              <% } %>

            </div>

            <div class="col-md-6">
              <% if(locals.role) { %>
              <div class="form-group">
                <label for="role">Choisir un role</label>
                <select class="form-control" id="role" name="role">
                  <% for(let a in role) {%>
                  <option value="<%= role[a] %>"><%= role[a] %></option>
                  <% } %>
                </select>
              </div>
              <% } %>
            </div>
          </div><!-- / ROW -->


          <button type="submit" class="btn btn-primary" id="btn-add-user">
            <i class="fas fa-plus"></i> Ajouter
          </button>
          <button type="reset" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> vider
          </button>


        </form>

        <div class="alert alert-danger mt-3" role="alert" id="alert-form-add-user"></div>

        <% if(locals.msg) { %>
        <div class="alert alert-primary mt-3" role="alert">
          <%= msg %>
        </div>
        <% } %>


      </div>

    </div>
    <!--/content-->
  </div>
  <!--/wrapper-->

  <% include ../layouts/footer %>