<% include ../layouts/head %>

<body>

  <div class="wrapper">

    <% include ../layouts/top-menu %>

    <!-- Page Content Holder -->
    <div id="content">

      <% include ../layouts/left-menu %>

      <div class="container py-5">

        <% if(locals.data) { 
                let i = 1;    
                data = data.filter(data => data.role !== locals.role.admin)
              %>
        <h2><i class="fas fa-list"></i> Liste des utilisateurs
          <span class="badge badge-primary"><%= data.length %></span>
        </h2>


        <table class="table table-hover table-light table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Email</th>
              <th scope="col">Division</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>


            <% for(let user of data) { %>
            <tr>
              <th scope="row"><%= i++ %></th>
              <td><%= user.nom_complet %></td>
              <td><%= user.email %></td>
              <td><%= user.division %></td>

              <td>
                <a href="/users/update?u=<%= user.email %>" class="btn btn-success">
                  <i class="fas fa-pen"></i>
                </a>

                <a href="/users/delete?u=<%= user.email %>" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </a>

              </td>

            </tr>
            <% } %>

          </tbody>
        </table>

        <% } %>

      </div>


    </div>
    <!--/content-->
  </div>
  <!--/wrapper-->

  <% include ../layouts/footer %>